import(limma)
import(DNAcopy)
import(preprocessCore)
import(impute)
import(marray)
import(sva)
import(IlluminaHumanMethylation450kmanifest)
import(minfi)
import(ChAMPdata)
import(Illumina450ProbeVariants.db)
import(wateRmelon)
import(plyr)
import(GenomicRanges)
import(RefFreeEWAS)
import(isva)
import(qvalue)
import(bumphunter)
import(doParallel)
import(quadprog)

importFrom(RPMM, blc)

export(
	champ.process, 
	champ.load, 
    champ.refbase,
    champ.reffree,
    champ.DMR,
	champ.norm, 
	champ.CNA, 
	champ.SVD, 
	champ.MVP, 
	champ.runCombat,
	champ.TrueMethyl
	) 
